Q1.Explain with an example each when to use a for and while loop.

for : the for loop is used to iterate over a sequence,which could be a list,tuple,array and string.
for example 
digit = [1,2,3]
for i in digit :
    print(i)
else :
    print("no items left")

while : python while loop is used to execute a block of statements repeatedly until a givem condition is satisfied.
the while loop check the condition first,and if it returns a true,the code with it in runs.the loop will continue until the condition is provided returns false,then stops
.for example
when i =1, the test expression i <= 5 is true.hence,the body of thewhile loop is executed.this prints one on the screen and the value of i is increased to 2.now, i =2  the test expression now i <= 5 is again true.

Q2.write a python program to print a sum and product of the first 10 natural number using for and while loop.

In [4]:
l = list(range(1,11,1))

In [6]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
result = 0
for i in l :
    result = result + i
    
result

55

In [9]:
result=1
for i in l :
    result = result * i
    
result

3628800

In [1]:
number = int(input("enter a natural number"))
startingPoint = 0
counter = 1
while counter <= number :
    startingPoint = startingPoint + counter 
    counter = counter + 1 
startingPoint

enter a natural number 10

55

In [2]:
number = int(input("enter a number"))
factorial = 1
while number > 0 :
    factorial = factorial * number 
    number = number - 1 
factorial

enter a number 10

3628800

 Q3.CREATE A PYTHON  PROGRAM TO COMPUTE THE ELECTRICITY BILL FOR A HOUSEHOLD.

In [4]:
unit = int(input("enter your marks"))
if unit <= 100 :
           print( unit * 4.5 )
elif unit <= 200 and unit > 100 :
           print(100*4.5 + (unit-100) * 6 )
elif unit <= 300 and unit > 200 :
           print(100*4.5 + 100*6 + (unit-200) * 10 )
else :
           print(100*4.5 + 100*6 + 100*10 + (unit-300) * 20 )

enter your marks 310

2250.0

Q4.Create a list of number from  1 to 100.Use for loop and while loop to calculate the each cube of number and if the cube of that number is divisible by 4 or 5 then append that number in list and print that list.

In [ ]:
l = list(range(1,101,1))

In [44]:
l1 = []
for i in l :
    
    a = i*i*i
    if a % 4 ==0 or a % 5 == 0 :
        print(a)
        l1.append(a)

8
64
125
216
512
1000
1728
2744
3375
4096
5832
8000
10648
13824
15625
17576
21952
27000
32768
39304
42875
46656
54872
64000
74088
85184
91125
97336
110592
125000
140608
157464
166375
175616
195112
216000
238328
262144
274625
287496
314432
343000
373248
405224
421875
438976
474552
512000
551368
592704
614125
636056
681472
729000
778688
830584
857375
884736
941192
1000000

Q5.Write a program to filter count vowels in the below given string.
string = "i want to become a data scientist".

In [6]:
string = "i want to become a data scientist"
for i in string :
    
    
    A = string.count('a') 
    B = string.count('e') 
    C = string.count('i') 
    D = string.count('o') 
    E = string.count('u')
    break
    
print(A+B+C+D+E)

12